*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

/**Boot CSS**/

.clear{
    clear: both;
}
.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}
.w50{
    width: 50%;
}
.w33{
    width: 33.3%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.img{
    width: 300px;
    height: 300px;
}

/**Estilização do site**/

header{
    padding: 20px 0;
    background: #3D437A;
}
header .logo{
    font-size: 23px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
}
.mobile{
    display: none;
}
nav.desktop ul{
    list-style-type: none;
}
nav.desktop li{
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    display: inline-block;
    text-transform: uppercase;
}
nav.desktop a{
    color: white;
    text-decoration: none;
}
.banner-principal{
    width: 100%;
    height: 600px;
    background-image: url("../img/bitmap.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.overlay{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,0.4);
}

section.banner-principal form{
    max-width: 600px;
    width: 98%;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
section.banner-principal form h2{
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}
section.banner-principal form input[type=email]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background-color: white;
    color: #333;
    font-size: 23px;
    padding-left: 10px;
    border: 0;
}
section.banner-principal form input[type=submit]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background-color: #00C59E;
    color: white;
    font-size: 23px;
    padding-left: 10px;
    cursor: pointer;
    border: 0;
}